* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans";
}

.main-header{
    background: url(images/banner/banner1.png);
    background-repeat: no-repeat;
    min-height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    
}


.header-container {
    max-width: 525px;
    text-align: right;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.header-wrapper{
    max-width: 1600px;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
}

.header-container h1{
    font-size: 65px;
    font-weight: bold;
}

.header-container p{
    font-size: 16px;
    font-weight: 400;
    color: #444343;
    line-height: 1.5;
}


.header-container button{
    padding: 25px;
    border: none;
    border-radius: 5px;
    background-color: #F15B22;
    color: white;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    max-width: 160px;
    align-self: flex-end;
}

#failure{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 131px;
}
.failure-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 87px;
    max-width: 1072px;

}

.failure-text{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.failure-text h3{
    font-size: 40px;
    font-weight: bold;

}

.failure-text p{
    font-size: 16px;
    font-weight: 400;
    color: #444343;
    line-height: 1.5;
}

.failure-text ul{
    list-style-type: none;
}
.failure-text ul li{
    font-size: 16px;
    margin-bottom: 8px;
}

.failure-text ul li::before{
    content: "✔";
    color: green;
    margin-right: 10px;
}

#plan{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 130px;
}

.plan-wrapper{
    max-width: 1141px;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 55px;
}

.plan-wrapper h1{
    text-align: center;
}


.card{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-details h3{
    margin-top: 18px;
}

.card-details p{
    margin-top: 15px;
}


#call {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 130px;
}

#image{
    width: 100%;
    max-width: 1140px;
    background: url(images/gradient2.png),url(images/watch.png);
    background-repeat: no-repeat;
    height: 300px;
    margin: 0 auto;
    
}

.image-details{
    max-width: 459px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    margin-left: 64px;
    gap: 24px;
}

.image-details p{
    font-size: 40px;
    font-weight: bold;
    color: white;
}

#btn {
    align-self: flex-start;
    border: none;
    border-radius: 5px;
    background-color: white;
    color: #F15B22;
    padding: 20px 30px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
}

footer{
    margin-top: 130px;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-wrapper{
    padding: 130px 0;
    width: 100%;
    max-width: 1141px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 331px;
}
#foot-info{
    width: 40%;
}
#foot-info h1{
    color: white;
    font-size: 45px;
    font-weight: bold;
}

#foot-info p{
    color: white;
    font-size: 14px;
    line-height: 1.7;
    margin: 20px 0;
    font-weight: 400;
}


#foot-info img{
    margin-right: 15px;
    cursor: pointer;
}

#foot-form{
    justify-content: flex-end;
}

#foot-form h3{
    color: white;
    margin-bottom: 30px;
    font-size: 25px;
}

#foot-form input{
    width: 100%;
    border: 1px solid white;
    border-radius: 8px;
    background-color: black;
    color: white;
    padding: 20px;
    max-width: 320px;
}


#foot-form button{
    margin-top: 20px;
    border: none;
    padding: 15px;
    border-radius: 8px;
    background-color: white;
    color: #F15B22;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}